{% extends 'mydetails/nav.html' %}

{% block body %}
<div class="container">
    <h2 class="center-align">Achivements</h2>
    <div class="row">
        <div class="col s12 m12">
            <ul class="collection">
                <li class="collection-item"><b> 5 Star Gold Badge in Problem Solving on Hacker Rank </b></li>
                <li class="collection-item"><b> Inter College Blind Coding Competition - 2016 </b></li>
                <li class="collection-item"><b> 'A' grade Scout and Guid - 2012 </b> </li>


            </ul>
        </div>
        
    </div>
    

</div>
{% endblock %}
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });
</script>
{% endblock %}