{% extends 'mydetails/nav.html' %}


{% block body %}

<div class="container">
    <h2 class="center-align">Workshop</h1>
    <div class="row">
        <div class="col s12 m12">
            <ul class="collection">
                
                <li class="collection-item"><b>  Hexa AIQ - 2021  </b><a href="https://drive.google.com/file/d/1svrtBvqQn3o8jtOLERPRjZ51fXA2relj/view?usp=sharing" target="_blank">View</a> </li>
                <li class="collection-item"><b>  Data Science Numpy - Udemy - 2021  </b><a href="https://drive.google.com/file/d/1UwuMfwBffYg5yF1Gl55rnCbNCAaFjrof/view?usp=sharing" target="_blank">View</a> </li>
                <li class="collection-item"><b> Cloud Computing(AWS) - 2021 </b><a href="https://drive.google.com/file/d/185gsjmYhOX_JXRrLspIlPUoJ8vC9-TqD/view?usp=sharing" target="_blank">View</a> </li>
                <li class="collection-item"><b> Design Summit by Developer Student Clubs - 2021</b> <a href="https://drive.google.com/file/d/1AnkqWrunpQTcVx211ktiul9OCxinTl0y/view?usp=sharing" target="_blank">View</a></li>
                <li class="collection-item"><b> STC Cyber Security and Forensic - 2021</b><a href="https://drive.google.com/file/d/15UIBiLNHSYFFaHWwcbcC9sXO2EsG7VD-/view?usp=sharing" target="_blank">View</a></li>
                <li class="collection-item"><b> Microsoft Learn Student Ambassador - 2021</b><a href="https://drive.google.com/file/d/134raOkdPdGuMFY3BTyW8LMKXslRPNUW-/view?usp=sharing" target="_blank">View</a></li>
                <li class="collection-item"><b> VISION SMART INDIA - 2014, 2015 </b></li>
                <li class="collection-item"><b> National Network Security Championship - 2014</b></li>                
                <li class="collection-item"><b> SAP01 Training - 2016 </b></li>

            </ul>
        </div>
        
    </div>
    

</div>
{% endblock %}
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });
</script>{% endblock %}