{% extends 'mydetails/nav.html' %}

{% block body %}
<div class="container">
    <h1 class="center-align">Tech Skills</h1>
    <div class="row">
        <div class="col s12 m12">
            <ul class="collection">
                <li class="collection-item"> Python </li>
                <li class="collection-item"> Java </li>
                <li class="collection-item"> C / C++ </li>
                <li class="collection-item"> PostgresSQL </li>
                <li class="collection-item"> Django </li>
            </ul>
        </div>
        
    </div>
    

</div>
{% endblock %}
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });
</script>
{% endblock %}